
form { 
	text-align: center;
	
}
body {
	line-height: 17px;
	
}
.top_bar {
	width: 100%;
	height: 50px;
	background-color: #2b2b33;
	margin: 0 0 0 0;
	display: inline-flex;
}
.sitename {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 170%;
	position: relative;
	top: 8px;
	text-shadow: #d7efff 0.5px 0.5px 0px;
	
}
a:hover { 
text-decoration: none;
}
nav {
	float: right;
	right: 50px;
	position: absolute;
	margin: 20px;
}
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding-left: 10px;
}
.sidebar {
	position: fixed;
	margin: 0 0 0 0;
	left: 0;
	width: 200px;
	height: 100%;
	background: #2b2b33;
	
}

 ul a{
	
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 10px;
	
}
.content {
	position: static;
	bottom: 0;
	text-align: center;
	
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #000000;
}
th {
  height: 70px;
  text-align: center;
}
td {
  height: 50px;
  width: 350px;
  text-align: center;
}

.content2 {
	position: static;
	bottom: 0;
	text-align: center;
}
.container-fluid {
	position: static;
	bottom: 0;
	text-align: center;
	width: 60%;
}
